.profile-content{
  margin: 0 auto;
  width: 60%;
  margin-top: 2rem;
}

.profile__content--card {
  margin-bottom: 1rem;
  padding: 0.5rem 0;

  text-align: left;
  text-indent: 1.5rem;
  border-radius: 0.5rem;
}

.profile__content--text {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

.profile__content--info {
  font-size: 3rem;
  font-weight: 600;
}

.card--green {
  background-color: var(--bg-card-green);
}

.card--blue {
  background-color: var(--bg-card-blue);
}

.card--yellow {
  background-color: var(--bg-card-amarelo);
}