.profile__info--name {
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.profile__info--img{
  width: 6.7rem;
  border-radius: 50%;
  margin-top: calc(-6.7rem + 3.35rem);
} 

.fas {
  margin: 0 0.5rem;
}

.profile__info--edit {
  color: var(--font-primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: #272424;
  height: 2.3rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
