.profile__info--name {
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.profile__info--img{
  width: 6.7rem;
  border-radius: 50%;
  margin-top: calc(-6.7rem + 3.35rem);
}

.profile__info--data {
  text-align: center;
}

.fas {
  margin: 0 0.5rem;
}

.button__edit {
  color: var(--font-primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: #272424;
  height: 2.3rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 320px){
  .profile__info--name {
    font-size: 1.3rem;
  }  
    
  .profile__info--img{
    width: 5.5rem;
    border-radius: 50%;
    margin-top: calc(-5.5rem + 2.25rem);
  }
}


@media (min-width: 767px) {
  .profile__info--data {
    text-align: left;
    display: flex;
    align-items: center;
  }

  .profile__info--img{
    width: 6.7rem;
    border-radius: 50%;
    margin: 0 1rem 0 0;
  }
}

