:root {
  --bg-color: #0C0B0B;
  --bg--secondary-color: #0F0E0E;
  --font-primary-color: #B7B7B7;
  --bg-card-green: #046313;
  --bg-card-blue: #044A7D;
  --bg-card-amarelo: #725200;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.global {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  color: var(--font-primary-color);
  background-color: var(--bg-color);
}

.container{
  height: 90%;
  padding: 0.1rem 0;
  margin-top: calc(100vh - 85vh); 
  background-color: var(--bg--secondary-color);
}

.profile {
  width: 90%;
  margin: 0 auto;
}

.profile-content{
  margin: 0 auto;
  width: 60%;
  margin-top: 2rem;
}

.profile__info--name {
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.profile__info--img{
  width: 6.7rem;
  border-radius: 50%;
  margin-top: calc(-6.7rem + 3.5rem);
} 

.fas {
  margin: 0 0.5rem;
}

.profile__info--edit {
  color: var(--font-primary-color);
  font-weight: 600;
  font-size: 1.1rem;
  box-sizing: border-box;
  background-color: #272424;
  height: 2.3rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}


.profile__content--card {
  margin-bottom: 1rem;
  padding: 0.5rem 0;

  text-align: left;
  text-indent: 1.5rem;
  border-radius: 0.5rem;
}

.profile__content--text {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

.profile__content--info {
  font-size: 3rem;
  font-weight: 600;
}

.card--green {
  background-color: var(--bg-card-green);
}

.card--blue {
  background-color: var(--bg-card-blue);
}

.card--yellow {
  background-color: var(--bg-card-amarelo);
}